<div class="py-10">
    <h1>Comments</h1>

    <% comments.each do |comment| %>
    <div class="flex items-center gap-4 py-3">
        <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="">
        <div class="font-medium dark:text-white">
            <p class="text-sm font-medium"><%= comment.user.username %></p>
            <p class="text-xs font-light text-gray-500 dark:text-gray-400"><%= comment.comment %></p>
        </div>
    </div>
    <hr>
    <% end %>
    

</div>