<div class="flex w-2/6">
    <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
        <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
    </div>
    <div class="ml-4">
        <span class="font-bold"><%= post.user.username %> </span>
        
        <% if post.created_at != post.updated_at %>
            <span class="text-xs font-light">(edited)</span>
        <% end %>
        <p class="text-gray-600 font-light text-sm"><%= time_ago_in_words(post.created_at) %> ago</p>
    </div>
</div>