<% if resource.errors.any? %>
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <% resource.errors.full_messages.each do |msg| %>
            <%= msg %>
            <br>
        <% end %>
    </div>
<% end %>


<% flash.each do |type, msg| %>

    <% if type=="notice" %>
        <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            <%= msg %>
        </div>
    <% elsif type=="alert" %>
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <%= msg %>
        </div>
    <% elsif type=="error" %>
    <h1>ola amigo</h1>
    <% end %>
<% end %>
